/* infinite: Lặp lại liên tục */
@keyframes quay { 
    100% { 
        transform: rotate(360deg); 
    } 
  }
  
  @keyframes slideInBottom {
    0% {
      opacity: 0; /* Ban đầu độ mờ là 0 */
      transform: translateY(20px); /* Ban đầu di chuyển card xuống dưới */
    }
    100% {
      opacity: 1; /* Khi animation hoàn tất, độ mờ là 1 */
      transform: translateY(0); /* Card sẽ trở về vị trí ban đầu */
    }
  }