/* infinite: Lặp lại liên tục */
@keyframes quay { 
    100% { 
        transform: rotate(360deg); 
    } 
  }
  
  @keyframes slideInBottom {
    0% {
      opacity: 0; /* Ban đầu độ mờ là 0 */
      transform: translateY(20px); /* Ban đầu di chuyển card xuống dưới */
    }
    100% {
      opacity: 1; /* Khi animation hoàn tất, độ mờ là 1 */
      transform: translateY(0); /* Card sẽ trở về vị trí ban đầu */
    }
  }


  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* Keyframes cho hiệu ứng đếm */
@keyframes count {
  from {
    content: '0';
  }
  to {
    content: attr(data-count);
  }
}

/* Animation cho các card */
@keyframes slideInLeft {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


@keyframes pulse-border {
  0% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
      opacity: 1;
  }

  100% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
      opacity: 0;
  }
}