@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #2f2b2b;
  --primary-color-light: #162e5e;
  --primary-color-extra-light: #080809;
  --secondary-color: #4482d8;
  --secondary-color-dark: #2cd6c5;
  --text-light: #8ba2c3;
  --white: #ffffff;
  --max-width: 1200px;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Container same */
.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  margin-bottom: 1rem;
  font-size: 2.25rem;
  font-weight: 600;
  text-align: center;
  color: var(--white);
}

.section__subheader {
  max-width: 600px;
  margin: auto;
  text-align: center;
  color: var(--text-light);
}
/* Container same end */
.btn {
  padding: 1rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--secondary-color-dark);
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

.bg__blur {
  position: absolute;
  box-shadow: 0 0 1000px 50px var(--secondary-color);
  z-index: -1;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-color);
}
/* Header */
/* Header top */
nav {
    max-width: var(--max-width);
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }
  
  .nav__logo {
    max-width: 150px;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
  }
  
  .link a {
    position: relative;
    padding-bottom: 0.75rem;
    color: var(--white);
  }
  
  .link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    bottom: 0;
    background-color: var(--secondary-color);
    transition: 0.3s;
  }
  
  .link a:hover::after {
    width: 50%;
  }
  /* Header top  end*/


/* Main */
/* Main 1 */
.explore__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.explore__nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.explore__nav span {
  padding: 0 6px;
  font-size: 1.5rem;
  color: var(--white);
  border: 2px solid var(--white);
  border-radius: 100%;
  cursor: pointer;
  transition: 0.3s;
}

.explore__nav span:hover {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.explore__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.explore__card {
  padding: 1rem;
  background-color: var(--primary-color-light);
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 0.3s;
}

.explore__card:hover {
  background-color: var(--primary-color-extra-light);
  border-color: var(--secondary-color);
}

.explore__card span {
  display: inline-block;
  padding: 2px 9px;
  margin-bottom: 1rem;
  font-size: 1.75rem;
  color: var(--white);
  background-color: var(--secondary-color-dark);
  border-radius: 5px;
}

.explore__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--white);
}

.explore__card p {
  margin-bottom: 1rem;
  color: var(--text-light);
}

.explore__card a {
  color: var(--white);
  transition: 0.3s;
}

.explore__card a:hover {
  color: var(--secondary-color);
}
/* Main 1 end */

.order{
    width: 100%;
    height: auto;
    padding: 70px 20px;
    background-image: url(image/bg2.jpg);
    background-size: cover;
    background-position: center;
    overflow:hidden;
    box-sizing: border-box;
  }
  
  .order h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffeeee;
    font-size: 55px;
    margin-bottom:30px;
  }
  
  .order h1 span{
    color: hsl(213, 82%, 63%);
    margin-right: 15px;
    font-family: mv boli;
  }
  
  .order h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #31a3fa;
    display: block;
    position: relative;
    bottom: 15px;
  }
  
  .order .order_main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap:30px;
  }
  
  .order .order_main .order_image img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .order .order_main form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    max-width: 600px;
    width: 100%;
  }
  
  .order .order_main form .input p{
    line-height: 25px;
    color:white;
    width: 100%;
    box-sizing: border-box;/* tránh tràn */
  }
  
  .order .order_main form .input{
    margin: 5px;
  }
  
  .order .order_main form .input input{
    width: 300px;
    height: 35px;
    padding: 0 10px;
    border: 2px solid #eae1e1;
    background: #fff6f6;
    outline: none;
    border-radius: 3px;
  }
  
  .order .order_main form .input input:focus{
    border: 2px solid #ffffff;
  }
  
  .order .order_main form .order_btn{
    padding: 10px 0;
    background: #6179d7;
    color: white;
    width: 40%;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
  }

/* Footer  */
.footer__container {
    position: relative;
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 2rem;
  }
  
  .footer__blur {
    bottom: 0;
    right: 0;
  }
  
  .footer__logo {
    max-width: 150px;
    margin-bottom: 2rem;
  }
  
  .footer__col p {
    margin-bottom: 2rem;
    color: var(--text-light);
  }
  
  .footer__socials {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .footer__socials a {
    padding: 5px 10px;
    font-size: 1.25rem;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 100%;
    transition: 0.3s;
  }
  
  .footer__socials a:hover {
    color: var(--white);
    background-color: var(--secondary-color);
  }
  
  .footer__col h4 {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white);
  }
  
  .footer__col  a {
    display: block;
    margin-bottom: 1rem;
    color: var(--text-light);
    transition: 0.3s;
  }
  
  .footer__col > a:hover {
    color: var(--secondary-color);
  }
  
  .footer__bar {
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    font-size: 0.8rem;
    color: var(--white);
  }
  /* Footer end */